<div class="container-sm">
    <div class="card mt-5">
        <div class="card-header bg-dark">
            <h1 class="text-white">
                <span class="q-logo logo-idx"> Q</span>uizify Login</h1>
        </div>
        <div class="card-body bg-light">
             <form action="/login" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">User Name</label>
                <input type="text" name="username" class="form-control" id="username" >
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>      
            <button class="btn btn-quiz" type="submit"><i class="fas fa-sign-in-alt"></i> Login</button>
            <a class="btn btn-light" href="/register"><i class="fas fa-user-plus"></i> Register</a>
        </form>
        
        </div>
    </div>
</div>
